@font-face {
  font-family: 'Styrene A Web';
  src: url('../public/fonts/StyreneAWeb-Regular.woff') format('woff');
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Styrene A Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  #__next {
    padding: 0 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
